/* NavigationBar.css */

/* Estilos para la barra de navegación */

.navbar {
    background-color: #5D4037; /* Marrón Oscuro */
}

.navbar-brand, .nav-link {
    color: #FFF8E1 !important; /* Beige Claro */
}

.nav-link:hover {
    color: #E0E0E0 !important; /* Gris Claro */
}

.navbar-toggler {
    border-color: #FFF8E1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFF8E1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
}

.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

.dark-mode .nav-link,
.dark-mode .navbar-brand {
    color: #e0e0e0 !important;
}

#dark-mode-switch {
    color: #FFF8E1;
}
