/* App.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF8E1; /* Beige Claro */
  color: #5D4037; /* Marrón Oscuro */
  margin: 0;
  padding: 0;
}

.section-title {
  color: #F57C00; /* Naranja Zanahoria */
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #388E3C; /* Verde Hoja */
  border-color: #388E3C;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2E7D32;
  color: #fff;
}

.navbar {
  background-color: #5D4037; /* Marrón Oscuro */
}

.navbar-brand, .nav-link {
  color: #FFF8E1 !important; /* Beige Claro */
}

.nav-link:hover {
  color: #E0E0E0 !important; /* Gris Claro */
}

.footer {
  background-color: #5D4037; /* Marrón Oscuro */
  color: #FFF8E1; /* Beige Claro */
}

.card {
  border: none;
}

.card-body {
  background-color: #FFF8E1;
}

.list-group-item {
  background-color: #FFF8E1;
}

.gallery-image {
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .header-carousel h1 {
    font-size: 2.5rem;
  }
  .header-carousel p {
    font-size: 1.2rem;
  }
}
