/* Testimonials.css */

/* Estilos para la sección de testimonios */

#testimonios {
    background-color: #FFF8E1; /* Beige Claro */
    padding: 50px 0;
}

.testimonial-card {
    background-color: #FFF8E1;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-card .card-body {
    padding: 20px;
}

.testimonial-card .card-footer {
    background-color: transparent;
    border-top: none;
}

.testimonial-card .text-muted {
    color: #5D4037 !important; /* Marrón Oscuro */
}
